*.swp
*.swo
.coverage
__pycache__

let_whitevan.py
let_reduction.py
mari_whitevan.py
mari_reduction.py
maps_whitevan.py
maps_reduction.py
merlin_whitevan.py
merlin_reduction.py
LET*nxs*
MAR*nxs*
MAP*nxs*
MER*nxs*
WV*txt
